{template "content_m","header_b"}
	{pc:content  action="position" posid="49" order="listorder DESC" num="20"} 
	<div class="banner">
		{loop $data $key $val}
			<img src="{$val['thumb']}">
		{/loop} 
	</div>
	{/pc} 
	<script>
	var q=$(".banner img").length
	var w=0
	$(".banner img").hide()
	$(".banner img").eq(0).show()
	var r=setInterval(function(){
		if(w<q-1)
		{w=w+1}
		else{w=0}
		$(".banner img").hide()
		$(".banner img").eq(w).show()
	},3000)
	</script>
<div class="clearfix"></div>

	<div class="content">
		<div class="content1">
			<div class="biaot">
				<h2>党建工作</h2>
				<a href="http://m.orlete.cn/index.php?m=content&c=index&a=lists&catid=29">更多&gt;&gt;</a>
				<div class="clearfix"></div>
			</div>
			{pc:content  action="position" posid="32" order="listorder DESC" num="3"} 
			<ul class="xinwen2">
			{loop $data $key $v} 
				<li>
					<a href="{str_replace('http://www.','http://m.',$v[url])}">
						<img src="{IMG_PATH}images2/a10.png">
						<h4>{str_cut($v['title'],60,"…")}</h4>
						<h5>{date("Y-m-d",$v["inputtime"])}</h5>
						<h3 style="clear: both;"></h3>
					</a>
				</li>
			{/loop}
			</ul>
			{/pc} 
		</div>
		<div style="height: 10px;background-color:#dcdcdc;margin-top: 10px;"></div>	
		<div class="content1">
			<div class="biaot">
				<h2>工会工作</h2>
				<a href="http://m.orlete.cn/index.php?m=content&c=index&a=lists&catid=30">更多&gt;&gt;</a>
				<div class="clearfix"></div>
			</div>
			{pc:content  action="position" posid="41" order="listorder DESC" num="1"} 
			{loop $data $key $v} 
			<a href="{str_replace('http://www.','http://m.',$v[url])}" class="xinwen1">
				<img src="{$v[thumb]}">
				<h3>{str_cut($v['title'],60,"…")}</h3>
			</a>
			{/loop}
			{/pc} 
			{pc:content  action="position" posid="34" order="listorder DESC" num="3"} 
			<ul class="xinwen2">
			{loop $data $key $v} 
				<li>
					<a href="{str_replace('http://www.','http://m.',$v[url])}">
						<img src="{$v[thumb]}">
						<h4>{str_cut($v['title'],60,"…")}</h4>
						<h5>{date("Y-m-d",$v["inputtime"])}</h5>
						<h3 style="clear: both;"></h3>
					</a>
				</li>
			{/loop}
			</ul>
			{/pc} 
		</div>
		<div style="height: 10px;background-color:#dcdcdc;margin-top: 10px;"></div>	
		<div class="content1">
			<div class="biaot">
				<h2>员工生活</h2>
				<a href="http://m.orlete.cn/index.php?m=content&c=index&a=lists&catid=31">更多&gt;&gt;</a>
				<div class="clearfix"></div>
			</div>
			{pc:content  action="position" posid="35" order="listorder DESC" num="2"} 
			<ul class="xinwen2">
			{loop $data $key $v} 
				<li>
					<a href="{str_replace('http://www.','http://m.',$v[url])}">
						<img src="{$v[thumb]}">
						<h4>{str_cut($v['title'],60,"…")}</h4>
						<h5>{date("Y-m-d",$v["inputtime"])}</h5>
						<h3 style="clear: both;"></h3>
					</a>
				</li>
			{/loop}
			</ul>
			{/pc} 
			{pc:content  action="position" posid="42" order="listorder DESC" num="3"} 
			<ul class="xinwen4">
			{loop $data $key $v} 
				<li>
					<a href="{str_replace('http://www.','http://m.',$v[url])}">{str_cut($v['title'],100,"…")}<span>{date("Y-m-d",$v["inputtime"])}</span></a>
				</li>
			{/loop}
			</ul>
			{/pc}
		</div>
		
		
	</div>
{template "content_m","footer"}
